<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Compilador</title>

	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/algaworks.min.css}" />
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}" /> -->
</head>

<body>
	<div class="aw-layout-page">
		<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand  hidden-xs" href="#">
						<label>Compilador</label>
					</a>

					<ul class="nav  navbar-nav">
						<li>
							<a href="#" class="js-sidebar-toggle">
								<i class="fa  fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<aside class="aw-layout-sidebar  js-sidebar">
			<div class="aw-layout-sidebar__content">

				<nav class="aw-menu  js-menu">
					<ul class="aw-menu__list">

						<li class="aw-menu__item">
							<a th:href="@{/compilador}">
								<i class="fa  fa-fw  fa-plus-square"></i>

								<span>Compilador</span>
							</a>

							<a th:href="@{/compilador/lexico}">
								<i class="fa  fa-fw  fa-table"></i>

								<span>Analisador Lexico</span>
							</a>
						</li>
					</ul>
				</nav>

			</div>
		</aside>

		
		<section class="aw-layout-content  js-content">
			
			<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8">
						<h1>
							Compilador
						</h1>
					</div>

					<div class="col-xs-4">
						<div class="aw-page-header-controls">
							<a class="btn btn-primary" th:href="@{/compilador/lexico}">
								<i class="fa fa-table"></i>

								<span class="hidden-xs hidden-sm">Analisador Lexico</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">

			<div id="sucesso" class="alert  alert-success  hidden">
				<i class="fa fa-check-circle"></i> <span>Sucesso!</span>
			</div>
			<div id="erro" class="alert  alert-danger  hidden">
				<i class="fa fa-check-circle"></i> <span>Erro!</span>
			</div>			

			<form method="POST" class="form-vertical  js-form-loading">
				<div class="form-group col-sm-12 col-md-12 col-lg-12">
					<h2>Texto</h2>
					<textarea id="texto" class="form-control" rows="8" cols="150"></textarea>
				</div>

				<!-- Adicionar aqui um código de uploar de arquivo, sendo de preferencia TXT -->				

<!-- 				<input type="hidden" name="MAX_FILE_SIZE" value="4194304" /> -->

<!-- 				<input type="file" /> -->
				
				<div class="form-group col-sm-3 col-md-3 col-lg-3">
					<button type="button" class="form-control btn  btn-primary" onclick="btnLexico()" >Upload</button>
				</div> 
			</form>
		</div>
			
		
		</section>

		<footer class="aw-layout-footer  js-content">
			<div class="container-fluid">
				<span class="aw-footer-disclaimer">&copy; 2018 Fields Develops Programs.</span>
				<span class="aw-footer-disclaimer">&copy; Realizado por: Abílio Leocádio, Pedro Foganholi e Silvio Marcelino.</span>
			</div>
		</footer>
	</div>

	<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
	<script th:src="@{/layout/javascripts/compilador.js}"></script>
	<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>
</body>
</html>
